/* Add this line at the top of your CSS file to import the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* Apply Poppins font to all elements */
}

a {
    text-decoration: none;
    color: white;
}

#list_head {
    display: inline-block;
    padding: 0 13px;
}

#title_head {
    font-size: 70px;
}

.nav_list {
    margin-left: 2rem;
    text-align: left;
    display: flex;
    text-decoration: none;
}

.header_bg {
    width: 100%;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    background-attachment: fixed;
}

.nav_header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_head {
    border: none;
    padding: 15px 35px;
    text-align: center;
    color: white;
    margin-top: 2rem;
    background-color: rgb(255, 7, 123);
}

#text_center {
    text-align: center;
}

#color_text {
    padding: 5px 10px;
    color: rgb(255, 0, 128);
}

span {
    font-size: 2.5rem;
    color: rgb(255, 0, 128);
}

.para_head {
    text-align: center;
}

.text_head {
    text-align: center;
    margin-top: 10rem;
}

/* css section 1 */
.section1 {
    display: flex;
    align-items: center;
    /* Aligne verticalement le contenu */
    gap: 20px;
    /* Ajoute un espace entre l'image et le texte */
    padding: 20px;
}

.content1 {
    margin-left: 50px;
    flex: 1;
    /* Permet au contenu textuel de prendre tout l'espace nécessaire */
}


.image-container {
    flex: 1;
    /* L'image prendra également de l'espace équitable */
}

#img1 {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top;
}


/* Section 2*/
.section2 {
    text-align: center;
    padding: 40px 20px;
}

.section2 .content2 {
    margin-bottom: 30px;
    /* Ajoute un espace entre le texte et les cartes */
}

/* Conteneur pour les cartes */
.cards-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colonnes de largeur égale */
    gap: 20px;
    /* Espace entre les cartes */
    justify-content: center;
    max-width: 1200px;
    /* Largeur maximale de la grille */
    height: 600px;
    margin: 0 auto;
}

#txt-footer {
    text-align: center;
}


.card2 {
    background-color: #fff;
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.card2 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

#text_contact {
    padding-bottom: 20px;
    padding-left: auto;
}

.btn_section2 {
    border: none;
    padding: 10px 40px;
    text-align: center;
    color: white;
    margin-top: 15rem;
    background-color: rgb(255, 7, 123);
}

#btn_send {
    border: none;
    padding: 10px 35px;
    text-align: center;
    color: white;
    margin-top: 1rem;
    background-color: rgb(255, 7, 123);
}

/* Section 3*/
.section3 {
    text-align: center;
    padding: 40px 20px;

}

.cards-container3 {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    /* 3 colonnes de largeur égale */
    gap: 20px;
    /* Espace entre les cartes */
    justify-content: center;
    max-width: 1200px;
    /* Largeur maximale de la grille */
    height: 400px;
    margin: 0 auto;
}

.card3 {
    background-color: #ffffff;
    padding: 15px;
    text-align: left;
    margin-bottom: 100px;
}


.card3 img {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.section3 .content3 {
    margin-bottom: 30px;
}


/* section 4 */
.section4 {
    background-image: url('./images/bg2.jpg');
    text-align: center;
    padding: 10px 20px;
}

.content4 {
    margin-bottom: 50px;
    color: white;
}

.cards-container4 {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.card4 {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    margin-bottom: 100px;
}

.menu_hamburger {
    background-image: url('./images/menu.png');


}

.card4 #img1,
.card4 #img2,
.card4 #img3 {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    /* Rend les bords des images ronds */
}


/* section 5 */
.content5 {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}

.contact {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
    padding: 60px 20px;
    max-width: 500px;
    height: 450px;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 35px;
}


footer {
    background-image: url('./images/bg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 20px;
}

#content_contact {
    margin-bottom: 150px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}


input {

    /* Taille uniforme pour des champs */
    width: 450px;
    height: 40px;
    padding-top: 3px;
    padding-left: 8px;
    box-sizing: border-box;
    border: 2px solid #999;
}

textarea {

    /* Taille uniforme pour des champs */
    width: 450px;
    padding-top: 10px;
    padding-left: 8px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid #999;
}




/* Media query pour les mobiles */
@media (max-width: 500px) {

    /* Cacher la liste de navigation */
    .nav_list {
        display: none;
        visibility: hidden;
    }

    /* Afficher le menu hamburger */
    #menu_burger {
        display: block;
        visibility: visible;
        width: 30px;
        height: 30px;
        background-image: url('./images/menu.png');
        background-size: cover;
        background-position: center;
        cursor: pointer;
        float: right;
        margin-right: 10px;
        margin-top: 50px;
    }

    /* Ajuster le header */
    .nav_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Ajuster le texte dans le header */
    .text_head {
        margin-top: 50px;
        padding: 10px;
        font-size: 14px;
    }

    #title_head {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }


    /* Redimensionner l'image et les sections */
    img {
        max-width: 100%;
        height: auto;
    }

    #img1 {
        max-width: 100%;
        height: auto;
    }


    .section1 {
        flex-direction: column;
        gap: 10px;
    }

    .image-container,
    .content1 {
        margin: 0 auto;
        text-align: center;
    }

    .content1 p {
        font-size: 18px;
        text-align: left;

    }

    /* Boutons */
    button {
        width: 45%;
        padding: 20px 10px;
        font-size: 14px;
    }

    /* Section 2 et 3 : réorganiser les cartes */
    .cards-container2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin-bottom: 1550px;

    }



    .cards-container3 {
        width: auto;
        height: auto;
        display: grid;
        gap: auto;
        grid-template-columns: repeat(2, 1fr);
    }


    .cards-container4 {
        width: auto;
        height: auto;
        display: grid;
        gap: auto;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
    }

    .card2,
    .card3,
    .card4 {
        margin: 0 auto;
    }

    /* Section contact */
    #content_contact {
        padding: 15px;
        text-align: center;
    }



    input,
    textarea {
        width: 100%;
    }


}

/* Media queries tablet */
@media screen and (min-width: 501px) and (max-width:800px) {
    .header_bg {
        width: 100%;
        background-attachment: fixed;
    }

    .text_head {
        margin-top: 20rem;
    }


    /* Conteneur pour les cartes */
    .cards-container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 3 colonnes de largeur égale */
        gap: 20px;
        /* Espace entre les cartes */
        justify-content: center;
        max-width: 1200px;
        /* Largeur maximale de la grille */
        height: 600px;
        margin: 0 auto;
        margin-bottom: 400px;

    }

    .cards-container4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        justify-content: center;
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
    }


    /* Faire en sorte que le troisième enfant s'étende sur deux colonnes et le centrer */
    .cards-container4> :nth-child(3) {
        grid-column: span 2;
        justify-self: center;
        max-width: 50%;
    }

    .cards-container3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        /* 3 colonnes de largeur égale */
        gap: 20px;
        /* Espace entre les cartes */
        justify-content: center;
        max-width: 1200px;
        /* Largeur maximale de la grille */
        height: auto;
        margin: 0 auto;
    }

    .cards-container3> :nth-child(4) {
        grid-column: span 3;
        justify-self: center;
        max-width: 40%;
    }
}

/* Media queries desktop */
@media screen and (min-width: 501px) and (max-width:800px) {
    .menu_hamburger {
        visibility: hidden;
    }

    .text_head {
        margin-top: 10rem;
    }
}